.productCard__wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 202px;
	justify-items: center;
	gap: 20px;
	margin: 0 auto;
}

.productCard {
	display: flex;
	width: 367px;
	height: 202px;
	border: 1px solid var(--pink);
	border-radius: 15px;
	padding: 14px;
	background-color: var(--white);
}

.productCard__left {
	width: 75%;
	cursor: pointer;
}

.productCard__left--name {
	font-size: 20px;
	font-weight: bold;
	color: var(--pink-text);
}

.productCard__left--brand {
	font-size: 20px;
	font-weight: 400;
}

.productCard__left--color {
	font-size: 20px;
	font-weight: 400;
}

.productCard__left--star {
	font-size: 16px;
	margin-right: 4px;
	color: #ccc;
}

.productCard__left--star.filled {
	color: #ffc107;
}

.productCard__left--star.empty {
	color: #ccc;
}

.productCard__left--rating .productCard__left--star {
	width: 100px;
}

.productCard__left--circle {
	width: 38px;
	height: 38px;
	border: 1px solid var(--pink-text);
	border-radius: 50%;
	margin-bottom: 12px;
}

.productCard__right {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 25%;
}

.productCard__right--icon {
	cursor: pointer;
	transition: fill 0.3s ease;
	color: #717171;
}

.productCard__right--icon:hover {
	color: #e76d9d;
}
