.main {
	width: 100%;
}

.main__register {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main__register--text {
	width: 460px;
}

.main__register--text-title {
	font-size: 36px;
	font-weight: 600;
}

.main__register--text-paragraph {
	font-size: 32px;
	font-weight: lighter;
}

.main__register--text-button {
	width: 126px;
	height: 44px;
	background-color: var(--orange);
	color: var(--white);
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
}

.main__organize {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
}

.main__organize--text {
	width: 634px;
	text-align: end;
	justify-self: start;
}

.main__organize--text-title {
	font-size: 36px;
	font-weight: bold;
	color: var(--orange);
}

.main__organize--text-paragraph {
	font-size: 28px;
	font-weight: lighter;
}

.main__organize--text-paragraph2 {
	font-size: 32px;
	font-weight: 500;
}

.main__product-illustration img {
	width: 576px;
	object-fit: contain;
}

.main__home-illustration img {
	width: 500px;
	object-fit: contain;
}

/* .main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 450px);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin: 60px;
}

.main__register {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.main__register--text {
	width: 460px;
}

.main__register--text-title {
	font-size: 36px;
	font-weight: 600;
}

.main__register--text-paragraph {
	font-size: 32px;
	font-weight: lighter;
}

.main__register--text-button {
	width: 126px;
	height: 44px;
	background-color: var(--orange);
	color: var(--white);
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
}

.main__home-illustration img {
	width: 500px;
	object-fit: contain;
}

.main__product-illustration img {
	width: 576px;
	object-fit: contain;
}

.main__organize {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.main__organize--text {
	width: 635px;
	text-align: end;
	justify-self: start;
}

.main__organize--text-title {
	font-size: 36px;
	font-weight: bold;
	color: var(--orange);
}

.main__organize--text-paragraph {
	font-size: 28px;
	font-weight: lighter;
}

.main__organize--text-paragraph2 {
	font-size: 32px;
	font-weight: 500;
}
 */
