.app-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	min-height: 100vh;
	position: relative;
}

.app-container--authenticated {
	padding-bottom: var(--mobile-nav-height);
}

@media (min-width: 768px) {
	.app-container--authenticated {
		padding-bottom: 0;
	}
}
