.app-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	min-height: 100vh;
	position: relative;
}

.app-container--authenticated {
	padding-bottom: var(--mobile-nav-height);
}

.header--loading {
	height: 100px;
	display: flex;
	align-items: center;
	margin: 0 0 80px 0;
	padding: 20px 96px 0 96px;
}

@media (min-width: 768px) {
	.app-container--authenticated {
		padding-bottom: 0;
	}
}
