.dashboard {
	display: grid;
	grid-template-columns: 1fr;
	gap: 60px;
	grid-template-rows: 40px auto;
	margin: 40px;
}

.dashboard__categories {
	align-self: center;
}

.dashboard__noProducts {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px;
}

.dashboard__noProducts {
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchedProductCard__wrapper {
	display: grid;
	grid-template-columns: repeat(4, 336px);
	grid-template-rows: 180px;
}

.productCard__wrapper {
	display: grid;
	grid-template-columns: repeat(4, 380px);
	grid-template-rows: 180px;
}
