@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-color: #faf8f0;
	--white: #ffffff;
	--black: #000000;
	--text-color: #717171;
	--text-color2: #2c2c2c;
	--orange: #ff6f61;
	--pink: #f4c4d7;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
