@media (max-width: 1024px) {
	.main__register {
		padding: 20px 2rem 0px 2rem;
	}

	.main__organize {
		padding: 20px 2rem 0px 2rem;
	}
}

@media (max-width: 768px) {
	.main__register {
		flex-direction: column;
		align-items: flex-start;
	}

	.main__organize {
		display: none;
	}
}

@media (max-width: 480px) {
	.main__register {
		flex-direction: column;
		align-items: flex-start;
	}

	.main__organize {
		display: none;
	}
}

/* @media (max-width: 320px) {

}  */
