@media (max-width: 1024px) {
	.main__register {
		padding: 20px 2rem 0px 2rem;
	}

	.main__organize {
		padding: 20px 2rem 0px 2rem;
	}
}

@media (max-width: 768px) {
	.main__register {
		flex-direction: column;
		gap: 10px;
	}

	.main__register--text {
		display: flex;
		width: 328px;
		flex-wrap: wrap;
	}

	.main__tooltip-wrapper {
		display: block;
	}

	.main__register--button {
		width: 205px;
		height: 52px;
		background-color: var(--pink);
		color: var(--text-color2);
		border-radius: 4px;
		font-size: 1.25rem;
		font-weight: bold;
	}

	.main__login--button {
		width: 129px;
		height: 52px;
		background-color: var(--orange);
		color: var(--white);
		border-radius: 4px;
		font-size: 1.25rem;
		font-weight: bold;
	}

	.main__register--text-title {
		font-size: 2.25rem;
	}

	.main__register--text-paragraph {
		font-size: 2rem;
	}

	.main__register--text-button {
		display: none;
	}

	.main__product-illustration {
		justify-self: center;
	}

	.main__organize {
		display: none;
	}
}

@media (max-width: 480px) {
	.main__register {
		flex-direction: column;
		align-items: flex-start;
	}

	.main__organize {
		display: none;
	}
}

/* @media (max-width: 320px) {

}  */
