@media (max-width: 1024px) {
	.main__register {
		padding: 20px 2rem 0px 2rem;
	}

	.main__organize {
		padding: 20px 2rem 0px 2rem;
	}
}

@media (max-width: 768px) {
	.main__register {
		flex-direction: column;
	}

	.main__register--text {
		display: flex;
		width: 328px;
		flex-wrap: wrap;
	}

	.main__register--text-title {
		font-size: 2.25rem;
	}

	.main__register--text-paragraph {
		font-size: 2rem;
	}

	.main__register--text-button {
		display: none;
	}

	.main__product-illustration {
		justify-self: center;
	}

	.main__organize {
		display: none;
	}
}

@media (max-width: 480px) {
	.main__register {
		flex-direction: column;
		align-items: flex-start;
	}

	.main__organize {
		display: none;
	}
}

/* @media (max-width: 320px) {

}  */
